@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md-4 text-center">
        <h2>Users</h2>
        
    </div>
    <div class="col-md-4 text-center">
        <h2>Threads</h2>
    </div>
    <div class="col-md-4 text-center">
        <h2>Posts</h2>
    </div>
</div>
